* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
body {
  background: rgb(138, 138, 138);
  overflow-x: hidden;
}
.header {
  margin: auto -10px;
  padding: 10px 20px;
  box-shadow: 0 0 2px rgb(114, 114, 114);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  color: #fff;
}
form {
  position: relative;
  width: 550px;
  margin: 32px auto 50px auto;
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}
form input,
form textarea {
  width: 90%;
  border: none;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  resize: none;
  overflow-y: hidden;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}
.note {
  background: #fff;
  width: 240px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1rem;
  margin-bottom: 6px;
}
.note p {
  font-size: 1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  position: relative;
  float: right;
  color: #f88651;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
form button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  background: rgb(204, 207, 10);
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(207, 207, 207);
}
.count {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
}
